* {
  margin: 0;
  padding: 0;
}

.datos {
  width: 100%;
  background-color: #004b87;
  height: 20px;
  margin-top: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.columnanuevo {
  background-color: rgb(156, 37, 7);
  width: auto;
  padding: 10px;
  font-size: 30;
}

input[type="number"] {
  -webkit-appearance: textfield !important;
  margin: 0;
  -moz-appearance: textfield !important;
}
